rest-model/src/main/resources/xsd/customer.xsd

<!--After every change, make Maven `clean` followed by Maven `package`, then look into target/generated-sources/jaxb-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CustomerListDto" type="CustomerListDto"/>
    <xs:complexType name="Customer">
        <xs:sequence>
            <xs:element type="xs:string" name="firstname" minOccurs="0"/>
            <xs:element type="xs:string" name="lastname" minOccurs="0"/>
            <xs:element type="xs:string" name="customerUrl" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomerListDto">
        <xs:sequence>
            <xs:element type="Customer" name="customers" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
